<nav>
  <svg
    id="btnMenu"
    xmlns="http://www.w3.org/2000/svg"
    width="44"
    height="44"
    viewBox="0 0 24 24"
    ><path
      fill="#061D41"
      d="M2 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1m0 6.032a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1m1 5.033a1 1 0 1 0 0 2h18a1 1 0 0 0 0-2z"
    ></path></svg
  >
  <a class="logo-nav" href="#">
    <img
      src="/images/logo_blue.png"
      alt="Logotipo DHISO Ingenieria y Construcción"
    />
  </a>

  <ul id="ulList">
    <li><a href="#">INICIO</a></li>
    <li><a href="#Proyectos">PROYECTOS</a></li>
    <li><a href="#Servicios">SERVICIOS</a></li>
    <li><a href="#Contacto">CONTACTANOS</a></li>
    <li>
      <div class="redesMobile">
        <a
          href="https://www.instagram.com/dhiso_ingenieria/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/instagram.svg" alt="" width="44" height="44" />
        </a>
        <a
          href="https://wa.link/6hkelm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/whatsapp.svg" alt="" width="44" height="44" />
        </a>
      </div>
    </li>
  </ul>
  <div class="redes">
    <a
      href="https://www.instagram.com/dhiso_ingenieria/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/images/instagram.svg" alt="" width="44" height="44" />
    </a>
    <a href="https://wa.link/6hkelm" target="_blank" rel="noopener noreferrer">
      <img src="/images/whatsapp.svg" alt="" width="44" height="44" />
    </a>
  </div>
</nav>

<style>
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0px 30px;
  }
  nav svg {
    cursor: pointer;
  }
  .logo-nav img {
    height: 100px;
  }
  ul {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: calc(100vh - 229px);
    background: white;
    top: 181px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  ul li {
    display: block;
    margin: 50px;
    line-height: 30px;
  }
  ul li a {
    font-size: 1.7rem;
    font-family: var(--cocogoose-light);
    font-weight: bold;
    color: var(--light-blue);
    text-decoration: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .redes {
    display: none;
  }
  .redesMobile {
    display:flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
  }
  @media only screen and (min-width: 901px) {
    nav {
      margin: 0 auto;
      max-width: 1180px;
      padding: 10px 30px;
      flex-direction: row;
    }
    nav svg {
      display: none;
    }
    .logo-nav img {
      height: 132px;
    }
    ul {
      position: static;
      display: flex;
      gap: 30px;
      width: auto;
      height: auto;
      background: none;
      align-items: center;
    }
    ul li {
      margin: 0;
    }
    ul li:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease-in-out;
    }
    ul li a:hover {
      color: #b4b4b4;
      transition: all 0.3s ease-in-out;
    }
    .redes {
      display: flex;
      gap: 15px;
      position: static;
    }
    .redes img:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease-in-out;
    }
    .redesMobile {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const ulList = document.getElementById("ulList");
    const btn = document.getElementById("btnMenu");
    const links = document.querySelectorAll("#ulList li a");
    const redes = document.querySelector(".redes");

    let menuVisible = false;

    btn.addEventListener("click", function () {
      if (!menuVisible) {
        ulList.style.left = "0";
        menuVisible = true;
        redes.style.left = "45%";
      } else {
        ulList.style.left = "-100%";
        menuVisible = false;
        redes.style.left = "-100%";
      }
    });

    links.forEach(function (link) {
      link.addEventListener("click", function () {
        ulList.style.left = "-100%";

        if (menuVisible === true) {
          menuVisible = false;
        } else {
          menuVisible = true;
        }
      });
    });
  });
</script>
